@media (max-width: 768px) {
    body {
        font-size: 20px;
    }
    .card {
        width: 80%;
        max-width: 350px;
    }
    .images {
        width: 80%;
        max-width: 350px;
    }
    .container .images .desktop-pattern {
        margin: 25px;
    }
    .container .images .button {
        margin-top: 10px;
    }
}

@media (max-width: 440px) {
    body {
        font-size: 18px;
    }

.container .images .desktop-pattern {
    margin-top: 25px;
    width: 60vw
}

    .container .images .button {
        margin-top: 10px;
    }
}